#map {
    height: 400px;
}

.game {
    border: 1px solid grey;
    text-align: center;
}

input {
    display: inline-block !important;
    margin-bottom: 20px;
}

#showCity, #showResult, .red, .blue, input, p{
    text-align: center;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
#gravatar img{
    width: 40px;
    height: auto;
    border-radius: 100%;
}
#infoWeather{
    width: 250px;
    margin-top: -40px;
}
